<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paobuqianjin.pbq.step"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".view.base.PaoBuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 配置百度地图KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0ug1iU9lhYsMn10Ukwz4d2oxh8uP3zga" />

        <activity
            android:name=".view.activity.MainActivity"
            android:label=""
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.paobuqianjin.pbq.LOGIN_SUCCESS_ACTION" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APP_START" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".view.activity.CreateCircleActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />
        <activity
            android:name=".view.activity.SearchCircleActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />

        <activity
            android:name=".view.activity.MemberManagerActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />

        <activity
            android:name=".view.activity.OwnerCircleActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />


        <activity
            android:name=".view.activity.LoveRankActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />

        <activity
            android:name=".view.activity.DynamicActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImageTranslucentTheme" />

        <receiver
            android:name=".model.broadcast.BootStepReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".model.broadcast.ShutDownReceiver"
            android:exported="false" />

        <service
            android:name=".model.services.local.StepService"
            android:exported="false"
            android:process=":stepservice" />

        <receiver
            android:name=".model.broadcast.TimeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.activity.UitetsActivity"
            android:label="@string/title_activity_uitets"
            android:theme="@style/ImageTranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.services.local.LocalBaiduService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>